/* Place CSS styles here */

body {
  background-color: #fef6f9;
}

/* Hero Section CSS */

header style {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  margin-left: 100px;
  margin-right: 55px;
  font-size: 35px;
  padding-bottom: 5px;
  border-bottom: 15px solid #f5d5eb;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}

.project-1-wrap-1 img {
  max-width: 100%
}
  
.project-1-wrap-2 img {
  max-width: 100%
}

@media {min-width: 800px;} {
  .h1 {
    font-size: 32px;
  }
}


@media {min-width: 800px;}{
  .Stingray-pic-1 {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
}

.section-1 {
  margin-left: 100px;
  margin-right: 55px;
}

/* navigation stuff*/
.topnav {
  background-color: #f5d5eb;
  overflow: hidden;
  float: left;
  color: #542234ae;
  text-align: center;
  padding: 12px 10px;
  font-size: 16px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 100px;
  margin-right: 55px;
}

.topnav a {
  float: left;
  color: #31141e;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #5448507d;
  color: black;
}

/* Sign in form CSS */
.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (min-width: 800px) {
  .form-buttons{
      flex-direction: row;
  }
}

input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 15px 5px 22px;
    background: #f5d5ef;
  }

input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 15px 5px 22px;
  background-color: #f5d5eb;
}
  
hr {
    border: 1px solid #f5d5eb;
    margin-bottom: 28px;
 }
  
button {
  background-color: #01631e;
  color: white;
  padding: 14px 25px;
  width: 100%;
  opacity: 0.9;
}

.cancelbtn {
  padding: 14px 25px;
  background-color: #b80000;
  float: left;
  width: 100%;
}

.signupbtn {
  float: left;
  width: 100%;
}

.container {
  padding: 16px;
}
  
@media screen and (max-width: 300px) {
  .cancelbtn {
    width: 100%;
  }
  .signupbtn {
    width: 100%;
  }
}

.form {
    padding-left: 100px;
    padding-right: 100px; 
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
}

.main-nav {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

@media (max-width: 999px) {
  .main-nav {
    display: none;
  }
}
