/* Place CSS styles here */

body {
  background-color: #fef6f9;
}

/* Hero Section CSS */
.logo {
  max-width: 80px;
  float: left;
}

header style {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 60px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}

.Stingray-pics {
  display: flex;
  flex-direction: column;
  gap: 130px;
  border-radius: 20px;
  border: 5px solid #f5d5eb;
  padding: 20px;
  margin-bottom: 20px;
}

.Whitney img {
  width: 200px;
}

.Miranda img {
  width: 200px;
}

.Joe img {
  width: 200px;
}

@media (min-width: 800px) {
    .Stingray-pics {
      flex-direction: row
    }
}

@media (min-width: 800px;){
  .Stingray-pics {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
}

@media (min-width: 700px;){
  .topnav {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
}

.section-1 {
  margin-left: 30px;
  margin-right: 55px;
  font-weight: normal;
  font-family:Arial, Helvetica, sans-serif;
}

a:link {
  color: #8d3051;
}

a:visited {
  color: #551d31;
}
/* navigation stuff*/

.topnav {
  background-color: #f5d5eb;
  overflow: hidden;
  color: #542234ae;
  text-align: center;
  padding: 12px 10px;
  font-size: 16px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 55px;
}

.topnav a {
  float: left;
  color: #31141e;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.mobile-main-nav {
  flex-direction: column;
  align-items: center;
  background-color: #31141e;
  position: absolute;
  top: 99px;
  left: 0;
  right: 0;
}

.mobile-main-nav a {
  padding: 8px;
}

@media (min-width: 800px) {
  .mobile-nav-wrapper {
    display: none;
  }
}

/* Sign in form CSS */

.form {
  margin-left: 40px;
  margin-right: 55px; 
  padding-right: 55px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif
}

.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

@media (min-width: 800px) {
  .form-buttons{
      flex-direction: row;
  }
}

input[type=email] {
  width: 96%;
  margin-bottom: 15px;
  padding: 20px;
  background: #f5d5ef;
}

input[type=password] {
  width: 96%;
  margin-bottom: 15px;
  padding: 20px;
  background-color: #f5d5eb;
}
  
h2 {
  margin-bottom: 20px;
  border-bottom: 5px solid #f5d5eb;
  margin-right: 10px;
  margin-left: 40px;
}
  
button {
  background-color: #01631e;
  color: white;
  padding: 14px 20px;
  width: 100%;
  opacity: 0.9;
}

.cancelbtn {
  background-color: #b80000;
  margin-left: 40px;
  margin-bottom: 15px;
  width: 100%;
}

.signupbtn {
  float: left;
  width: 94%;
  margin-left: 40px;
  margin-bottom: 15px;
}
  
.checkbox {
  margin-left: 40px;
}

@media (max-width: 300px) {
  .cancelbtn {
    width: 100%;
  }
  .signupbtn {
    width: 100%;
  }
}

.email {
  margin-left: 40px;
}

.password {
  margin-left: 40px;
}

/*thank you page*/

.thank-you-page {
  background-color: #f5d5eb;
  text-align: center;
  padding: 12px 10px;
  font-size: 16px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}